@page "/About"

<PageTitle>دەربارەی ئێمە</PageTitle>
<div style="background-color:black;color:lavender;" >

    <MudImage Fluid="true" Src="image/logocom-removebg-preview.png" style="float:left;" />
    <br /><br /><br /><br /><br /><br />
    <MudText Align="Align.Right" Style="padding-top:10px;padding-right:15px;" Typo="Typo.h5">
        
        <MudText Typo="Typo.h4">دەربارەی ئێمە</MudText><br>
            گەورەترین وێب سایتی کوردیە
            دەربارەی بازاڕی تەکنەلۆژیای سەرهێڵ بۆ وەدەستکەوتنی زانیاری لەسەر ئامێرە
            تەکنەلۆژیەکان و وەدەست خستنیان، پەرەیپێدراوە لەلایەن کۆمپانیای باهۆز
    </MudText><br /><br /><br /><br />
   
</div>
<MudSkeleton />
<MudText Class="mt-15" Align="Align.Center" Color="Color.Inherit" Typo="Typo.h3">خزمەتگوزاریەکانی ئێمە</MudText>
<MudGrid Class="mt-15" >
        <MudItem xs="12" sm="4" md="3">
        <MudCard >
            <MudCardContent>
               
                <MudText Align="Align.Center" Typo="Typo.body1"><MudIcon Icon="@Icons.Outlined.DeliveryDining" Style="font-size: 5rem;" /></MudText>
                <MudText Align="Align.Center"  Typo="Typo.h5">گەیاندن</MudText>
            </MudCardContent>
        </MudCard>
        </MudItem>
    <MudItem xs="12" sm="4" md="3">
        <MudCard>
            <MudCardContent>
                
                <MudText Align="Align.Center" Typo="Typo.body1"><MudIcon Icon="@Icons.Outlined.AssignmentReturn" Style="font-size: 5rem;" /></MudText>
                <MudText Align="Align.Center"  Typo="Typo.h5">فرۆشتن </MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="4" md="3">
        <MudCard >
            <MudCardContent  >
                <MudText Align="Align.Center" Typo="Typo.body1"><MudIcon  Icon="@Icons.Filled.Discount" Style="font-size: 5rem;" /></MudText>
                <MudText Align="Align.Center" Typo="Typo.h5">داشکاندن</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="4" md="3">
        <MudCard>
            <MudCardContent>
                
                <MudText Align="Align.Center" Typo="Typo.body1"><MudIcon Icon="@Icons.Filled.AccessTime" Style="font-size: 5rem;" /></MudText>
                <MudText Align="Align.Center"  Typo="Typo.h5">٢٤ کاتژمێر</MudText>
                 
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
<br/>
<MudSkeleton />
<br />